In [1]:
#Imports 
import requests
import lxml.html as lh
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
import re
import random

print("Done.")

Done.

## Ride ID's that have already been scraped:

In [2]:
## Ride ID's that have already been scraped: 
scraped_df = pd.read_csv("CSE258_A2_Data2.csv")
#print(scraped_df.columns)
#print(scraped_df[:10])
scraped_ids = set()
for ride in scraped_df['ride_id']:
    scraped_ids.add(ride)
print(scraped_ids)

{16262, 16278, 16289, 16290, 16169, 16298, 16300, 16301, 16302, 16318, 16194, 16197, 15686, 15692, 16211, 16345, 15962, 15963, 16250, 15972, 15980, 16237, 16238, 10865, 16243, 16248, 12154, 16252, 16253}

## Randomly choose 30 ride id's from these url bins:

In [3]:
#Get urls for surf sessions in Scripps beach area that most likely correspond to surfing time intervals: 
url_45_60 = 'https://surf.smartfin.org/advanced_search/?northEastLat=32.6&northEastLon=-117.24&southWestLat=32.9&southWestLon=-117.33&dateTimeBegin=&dateTimeEnd=&timeZone=PDT&durationMin=45&durationMax=60&sensorTypeWave=true#searchResultsContainer'
url_61_80 = 'https://surf.smartfin.org/advanced_search/?northEastLat=32.6&northEastLon=-117.24&southWestLat=32.9&southWestLon=-117.33&dateTimeBegin=&dateTimeEnd=&timeZone=PDT&durationMin=61&durationMax=80&sensorTypeWave=true#searchResultsContainer'
url_81_100 = 'https://surf.smartfin.org/advanced_search/?northEastLat=32.6&northEastLon=-117.24&southWestLat=32.9&southWestLon=-117.33&dateTimeBegin=&dateTimeEnd=&timeZone=PDT&durationMin=81&durationMax=100&sensorTypeWave=true#searchResultsContainer'
url_101_130 = 'https://surf.smartfin.org/advanced_search/?northEastLat=32.6&northEastLon=-117.24&southWestLat=32.9&southWestLon=-117.33&dateTimeBegin=&dateTimeEnd=&timeZone=PDT&durationMin=101&durationMax=130&sensorTypeWave=true#searchResultsContainer'

urls = [url_45_60, url_61_80, url_81_100, url_101_130]

In [4]:
# Define a function that will parse rows from data tables on CDIP's website:
def parse_rows(row_number):
    name_string = ""
    name_list = []
    for t in tr_elements[row_number]:
        name = t.text_content()
        for i in name: 
            name_string += i
    #print(name_string)

    # Create a string from the values
    name_string = name_string.split(" ")
    
    # Remove all spaces from the list
    for i in name_string: 
        if len(i) > 0:
            name_list.append(i)
      
    # Ensure that time stays with 'Date (UTC)'' header
    name_list[0] = name_list[0] + " " +  name_list[1]
    name_list.pop(1)
    
    return name_list

In [5]:
# Iterate over each url and get all ride_ids located at that url: 
ride_ids = []
for u in urls: 
    
    # Create a handle, page, to handle the contents of the website
    page = requests.get(u)

    # Store the contents of the website under doc
    doc = lh.fromstring(page.content)

    # Parse data stored between <tr>..</tr> of HTML
    tr_elements = doc.xpath('//tr')

    # Retrieve all of the ride ids: 
    for j in range(1, len(tr_elements)):
        data = parse_rows(j)
        data = str(data[0]).strip("\n")
        if int(data) > 10000: 
            ride_ids.append(data)
    print(len(tr_elements))

print(len(ride_ids))
print(ride_ids[:20])
print(ride_ids[-10:])

266
301
250
289
908
[' 16345', ' 16318', ' 16300', ' 16289', ' 16278', ' 16211', ' 16197', ' 16194', ' 16191', ' 16169', ' 16167', ' 16137', ' 16135', ' 16134', ' 16124', ' 16115', ' 16099', ' 16098', ' 16088', ' 16076']
[' 10072', ' 10067', ' 10062', ' 10051', ' 10049', ' 10030', ' 10029', ' 10009', ' 10005', ' 10003']

In [6]:
first = 266
second = 301
third = 250
fourth = 289

## Jasmine's Ride ID's:

In [13]:
# Randomly choose 30 rides from the first url bin which haven't already been scraped:
jasmine_ids = set()
while len(jasmine_ids) <  30: 
    new_id = random.choice(ride_ids[:first])
    if new_id not in scraped_ids and int(new_id) > 10000:
        jasmine_ids.add(new_id)
    
print(jasmine_ids)

{' 15499', ' 16115', ' 10531', ' 12241', ' 14744', ' 14113', ' 10589', ' 12388', ' 13998', ' 15115', ' 13929', ' 15243', ' 15075', ' 15740', ' 16073', ' 16298', ' 11542', ' 13054', ' 16195', ' 15703', ' 14887', ' 11629', ' 16076', ' 10212', ' 15896', ' 12141', ' 14863', ' 12875', ' 10513', ' 16302'}

In [31]:
# Randomly choose 30 rides from the first url bin which haven't already been scraped:
jasmine_new_ids = set()
while len(jasmine_new_ids) <  30: 
    new_id = random.choice(ride_ids[:first])
    if new_id not in scraped_ids and int(new_id) > 11000:
        if new_id not in jasmine_ids:
            jasmine_new_ids.add(new_id)
    
print(jasmine_new_ids)

{' 14655', ' 13477', ' 15088', ' 14384', ' 15789', ' 14290', ' 13993', ' 15217', ' 16191', ' 12476', ' 16196', ' 15135', ' 11941', ' 15291', ' 16169', ' 12496', ' 14947', ' 15461', ' 16300', ' 15163', ' 14792', ' 13543', ' 15590', ' 13042', ' 13272', ' 12384', ' 13991', ' 16197', ' 12629', ' 16236'}

## Martha's Ride ID's:

In [14]:
# Randomly choose 30 rides from the first url bin which haven't already been scraped:
martha_ids = set()
while len(martha_ids) <  30: 
    new_id = random.choice(ride_ids[first+1:first+second])
    if new_id not in scraped_ids and int(new_id) > 10000:
        martha_ids.add(new_id)
    
print(martha_ids)

{' 15302', ' 13029', ' 16128', ' 15287', ' 13562', ' 11116', ' 12028', ' 12803', ' 12862', ' 13614', ' 14175', ' 13005', ' 15625', ' 12971', ' 13728', ' 14836', ' 13280', ' 13281', ' 11260', ' 14316', ' 12681', ' 12208', ' 13687', ' 14004', ' 13269', ' 11507', ' 12627', ' 11851', ' 11896', ' 13438'}

## Jennifer's Ride ID's:

In [15]:
# Randomly choose 30 rides from the first url bin which haven't already been scraped:
jenn_ids = set()
while len(jenn_ids) <  30: 
    new_id = random.choice(ride_ids[first+second+1:first+second+third])
    if new_id not in scraped_ids and int(new_id) > 10000:
        jenn_ids.add(new_id)
    
print(jenn_ids)

{' 12628', ' 12181', ' 12736', ' 12019', ' 16175', ' 13414', ' 12139', ' 15537', ' 10194', ' 13284', ' 14118', ' 14701', ' 11496', ' 12560', ' 12010', ' 14700', ' 11331', ' 11613', ' 11161', ' 12046', ' 13466', ' 11049', ' 14166', ' 12391', ' 12713', ' 10826', ' 11052', ' 11008', ' 12737', ' 11272'}

## Adrian's Ride ID's:

In [16]:
# Randomly choose 30 rides from the first url bin which haven't already been scraped:
adrian_ids = set()
while len(adrian_ids) <  30: 
    new_id = random.choice(ride_ids[first+second+third+1:first+second+third+fourth])
    if new_id not in scraped_ids and int(new_id) > 10000:
        adrian_ids.add(new_id)
    
print(adrian_ids)

{' 10428', ' 11221', ' 11811', ' 10062', ' 11897', ' 10005', ' 10073', ' 11462', ' 11738', ' 11373', ' 11097', ' 11829', ' 11927', ' 11516', ' 11238', ' 11762', ' 11449', ' 12020', ' 11914', ' 10109', ' 11712', ' 10429', ' 11262', ' 11725', ' 10029', ' 11232', ' 10078', ' 10422', ' 10072', ' 11636'}

### Code to convert your 30 files into a concatenated .CSV file. You need to change the path to the directory which contains the .csv files. *Also: make sure the directory only contains .csv files that contain Smartfin data - this code will read ALL .csv files in the directory.*

In [243]:
# Code to convert your 30 files into a concatenated .CSV file: 

from os import listdir

def find_csv_filenames( path_to_dir, suffix=".csv" ):
    filenames = listdir(path_to_dir)
    names = [ filename for filename in filenames if filename.endswith( suffix ) ]
    return names

In [245]:
# Print the names of all .csv files in the directory (change the path name to your local path):
path = '/Users/jasminesimmons/Smartfin/Smartfin/Mini_Projects/ML_Wave_Stats/'
names = find_csv_filenames( path, suffix=".csv" )
print(len(names))
print(names)

5
['CSE258_A2_Data_Jasmine_Combined.csv', 'CSE258_A2_Data_Martha_Combined.csv', 'CSE258_A2_Data_Jen_Combined.csv', 'CSE258_A2_Scraped_Data2_copy.csv', 'CSE258_A2_Data_Adrian_Combined.csv']

In [246]:
# Combine the data frames:
combined_csv = pd.concat( [ pd.read_csv(f) for f in names ] )
combined_csv[:10]

,Unnamed: 0,identifier,UTC,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Date,Time,Hs(ft),Tp(s),Dp(deg)
0,0,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:33.3380+00:00,2.949656,-11.760319,-10.745177,112.317073,10.609756,32.560976,79.0,171.0,593.0,2018-05-19,16:37,3.15,7.14,288.0
1,1,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:33.5890+00:00,2.279280,-9.193734,-7.872135,304.634146,57.439024,11.829268,96.0,214.0,358.0,2018-05-19,16:37,3.15,7.14,288.0
2,2,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:33.8400+00:00,-1.647211,1.053449,-8.197746,395.365854,0.853659,-24.390244,126.0,-140.0,194.0,2018-05-19,16:37,3.15,7.14,288.0
3,3,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:34.0910+00:00,2.911349,22.677878,0.402226,352.073171,-21.951220,66.829268,111.0,-267.0,549.0,2018-05-19,16:37,3.15,7.14,288.0
4,4,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:34.3410+00:00,-2.221819,10.591948,-0.019154,-4.146341,33.292683,10.365854,116.0,-256.0,570.0,2018-05-19,16:37,3.15,7.14,288.0
5,5,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:34.5930+00:00,-1.493982,9.059659,0.517148,-11.951220,16.341463,-3.536585,96.0,-268.0,554.0,2018-05-19,16:37,3.15,7.14,288.0
6,6,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:34.8440+00:00,-1.225831,9.710882,0.766145,7.073171,14.512195,-3.658537,97.0,-267.0,549.0,2018-05-19,16:37,3.15,7.14,288.0
7,7,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:35.0960+00:00,-1.110910,9.749189,0.555455,-4.268293,9.146341,-1.829268,96.0,-260.0,560.0,2018-05-19,16:37,3.15,7.14,288.0
8,8,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:35.3470+00:00,-0.881066,9.327810,0.842759,-5.975610,6.707317,0.243902,92.0,-262.0,554.0,2018-05-19,16:37,3.15,7.14,288.0
9,9,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:35.5990+00:00,-0.861913,9.442731,1.015142,4.756098,7.926829,1.341463,94.0,-262.0,560.0,2018-05-19,16:37,3.15,7.14,288.0

In [252]:
#combined_csv = combined_csv.drop(columns=["Unnamed: 0"])
combined_csv[:10]

,identifier,UTC,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Date,Time,Hs(ft),Tp(s),Dp(deg)
0,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:33.3380+00:00,2.949656,-11.760319,-10.745177,112.317073,10.609756,32.560976,79.0,171.0,593.0,2018-05-19,16:37,3.15,7.14,288.0
1,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:33.5890+00:00,2.279280,-9.193734,-7.872135,304.634146,57.439024,11.829268,96.0,214.0,358.0,2018-05-19,16:37,3.15,7.14,288.0
2,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:33.8400+00:00,-1.647211,1.053449,-8.197746,395.365854,0.853659,-24.390244,126.0,-140.0,194.0,2018-05-19,16:37,3.15,7.14,288.0
3,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:34.0910+00:00,2.911349,22.677878,0.402226,352.073171,-21.951220,66.829268,111.0,-267.0,549.0,2018-05-19,16:37,3.15,7.14,288.0
4,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:34.3410+00:00,-2.221819,10.591948,-0.019154,-4.146341,33.292683,10.365854,116.0,-256.0,570.0,2018-05-19,16:37,3.15,7.14,288.0
5,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:34.5930+00:00,-1.493982,9.059659,0.517148,-11.951220,16.341463,-3.536585,96.0,-268.0,554.0,2018-05-19,16:37,3.15,7.14,288.0
6,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:34.8440+00:00,-1.225831,9.710882,0.766145,7.073171,14.512195,-3.658537,97.0,-267.0,549.0,2018-05-19,16:37,3.15,7.14,288.0
7,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:35.0960+00:00,-1.110910,9.749189,0.555455,-4.268293,9.146341,-1.829268,96.0,-260.0,560.0,2018-05-19,16:37,3.15,7.14,288.0
8,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:35.3470+00:00,-0.881066,9.327810,0.842759,-5.975610,6.707317,0.243902,92.0,-262.0,554.0,2018-05-19,16:37,3.15,7.14,288.0
9,facebook_10213517683684254_0006667E2297_180519...,2018-05-19T16:37:35.5990+00:00,-0.861913,9.442731,1.015142,4.756098,7.926829,1.341463,94.0,-262.0,560.0,2018-05-19,16:37,3.15,7.14,288.0

In [253]:
combined_csv.to_csv( "CSE258_A2_Final_Combined_csv.csv" )

## Transform combined data frame (with identifers) into one with real values instead of raw:

In [242]:
# Check to make sure the new, combined data frame exists: 
path = '/Users/jasminesimmons/Smartfin/Smartfin/Mini_Projects/ML_Wave_Stats/'
names = find_csv_filenames( path, suffix=".csv" )

print(names)
print(len(names))

['CSE258_A2_Data_Jasmine_Combined.csv', 'CSE258_A2_Data_Martha_Combined.csv', 'CSE258_A2_Data_Jen_Combined.csv', 'CSE258_A2_Scraped_Data2_copy.csv', 'CSE258_A2_Data_Adrian_Combined.csv']
5

In [226]:
combined_pd = pd.read_csv('combined_csvJenniferv3.csv')

In [227]:
print(len(combined_pd))
print(combined_pd.columns)
combined_pd[:10]

2300924
Index(['Unnamed: 0', 'Unnamed: 0.1', 'UTC', 'Time', 'IMU A1', 'IMU A2',
       'IMU A3', 'IMU G1', 'IMU G2', 'IMU G3', 'IMU M1', 'IMU M2', 'IMU M3',
       'Latitude', 'Longitude', 'identifier'],
      dtype='object')

,Unnamed: 0,Unnamed: 0.1,UTC,Time,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Latitude,Longitude,identifier
0,0,0,2017-06-01T16:01:24.1670+00:00,29198,-78.0,499.0,45.0,13.0,-6.0,3.0,8.0,31.0,124.0,NaN,NaN,170601160114
1,1,1,2017-06-01T16:01:24.4240+00:00,29454,-78.0,500.0,44.0,13.0,-6.0,2.0,30.0,114.0,494.0,NaN,NaN,170601160114
2,2,2,2017-06-01T16:01:24.6260+00:00,29654,-78.0,499.0,44.0,13.0,-5.0,2.0,35.0,121.0,493.0,NaN,NaN,170601160114
3,3,3,2017-06-01T16:01:24.8270+00:00,29854,-78.0,499.0,42.0,12.0,-5.0,2.0,34.0,120.0,496.0,NaN,NaN,170601160114
4,4,4,2017-06-01T16:01:25.0280+00:00,30054,-78.0,499.0,42.0,13.0,-6.0,2.0,38.0,118.0,486.0,NaN,NaN,170601160114
5,5,5,2017-06-01T16:01:25.2300+00:00,30254,-78.0,499.0,45.0,13.0,-7.0,2.0,25.0,125.0,489.0,NaN,NaN,170601160114
6,6,6,2017-06-01T16:01:25.4310+00:00,30454,-77.0,500.0,45.0,13.0,-5.0,2.0,41.0,123.0,483.0,NaN,NaN,170601160114
7,7,7,2017-06-01T16:01:25.6320+00:00,30654,-78.0,499.0,42.0,14.0,-5.0,2.0,34.0,118.0,492.0,NaN,NaN,170601160114
8,8,8,2017-06-01T16:01:25.8340+00:00,30854,-77.0,499.0,41.0,13.0,-5.0,2.0,30.0,122.0,500.0,NaN,NaN,170601160114
9,9,9,2017-06-01T16:01:26.0340+00:00,31053,-78.0,499.0,43.0,13.0,-5.0,2.0,35.0,119.0,485.0,NaN,NaN,170601160114

## Transform the combined data frame into one we can actually use:

In [228]:
# 1. Remove unneccessary columns (get it into same pd as before)
combined_pd = combined_pd[['identifier', 'UTC', 'IMU A1', 'IMU A2', 'IMU A3', 'IMU G1', 'IMU G2', 'IMU G3', 'IMU M1', 'IMU M2', 'IMU M3']].copy()
combined_pd = combined_pd.dropna()
print(len(combined_pd))
combined_pd[:10]

2267620

,identifier,UTC,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3
0,170601160114,2017-06-01T16:01:24.1670+00:00,-78.0,499.0,45.0,13.0,-6.0,3.0,8.0,31.0,124.0
1,170601160114,2017-06-01T16:01:24.4240+00:00,-78.0,500.0,44.0,13.0,-6.0,2.0,30.0,114.0,494.0
2,170601160114,2017-06-01T16:01:24.6260+00:00,-78.0,499.0,44.0,13.0,-5.0,2.0,35.0,121.0,493.0
3,170601160114,2017-06-01T16:01:24.8270+00:00,-78.0,499.0,42.0,12.0,-5.0,2.0,34.0,120.0,496.0
4,170601160114,2017-06-01T16:01:25.0280+00:00,-78.0,499.0,42.0,13.0,-6.0,2.0,38.0,118.0,486.0
5,170601160114,2017-06-01T16:01:25.2300+00:00,-78.0,499.0,45.0,13.0,-7.0,2.0,25.0,125.0,489.0
6,170601160114,2017-06-01T16:01:25.4310+00:00,-77.0,500.0,45.0,13.0,-5.0,2.0,41.0,123.0,483.0
7,170601160114,2017-06-01T16:01:25.6320+00:00,-78.0,499.0,42.0,14.0,-5.0,2.0,34.0,118.0,492.0
8,170601160114,2017-06-01T16:01:25.8340+00:00,-77.0,499.0,41.0,13.0,-5.0,2.0,30.0,122.0,500.0
9,170601160114,2017-06-01T16:01:26.0340+00:00,-78.0,499.0,43.0,13.0,-5.0,2.0,35.0,119.0,485.0

In [229]:
# 2. Add CDIP data and change raw values to real values

# Scrape same-day CDIP data
# Format should be appending year, month
# Example: Sept. 2019 -> 201909
def create_url_string(year, month):
    url='https://cdip.ucsd.edu/themes/cdip?tz=UTC&numcolorbands=10&palette=cdip_classic&zoom=auto&ll_fmt=dm&high=6.096&r=999&un=1&pb=1&d2=p70&u2=s:201:st:1:v:parameter:dt:'
    if 2014 <= int(year) <= 2019:
        year = year
    if 1 <= int(month) <= 12 and len(month) == 2:
        month = month
    url += year
    url += month
    return url

In [230]:
# For each row in the dataframe, parse the index ('UTC' column) to get the year, month information. 
dates = []
times = []
for row in combined_pd['UTC']:
    # Some .csv files have 'T' in UTC to denote timestamp, others don't.
    if 'T' in row:
        #print(row)
        row = row.split('T')
        date = row[0]
        time = row[1]
        time = time.split('.')
        time = time[0]
        time = time.split(':')
        time = time[0] + ":" + time[1]
        times.append(time)
        dates.append(date)
    else:
        row = row.split(' ')
        date = row[0]
        time = row[1]
        time = time.split('.')
        time = time[0]
        time = time.split(':')
        time = time[0] + ":" + time[1]
        times.append(time)
        dates.append(date)
        
print(dates[0:10], times[0:10])

['2017-06-01', '2017-06-01', '2017-06-01', '2017-06-01', '2017-06-01', '2017-06-01', '2017-06-01', '2017-06-01', '2017-06-01', '2017-06-01'] ['16:01', '16:01', '16:01', '16:01', '16:01', '16:01', '16:01', '16:01', '16:01', '16:01']

In [231]:
combined_pd["Date"] = dates
combined_pd["Time"] = times
combined_pd[:10]

,identifier,UTC,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Date,Time
0,170601160114,2017-06-01T16:01:24.1670+00:00,-78.0,499.0,45.0,13.0,-6.0,3.0,8.0,31.0,124.0,2017-06-01,16:01
1,170601160114,2017-06-01T16:01:24.4240+00:00,-78.0,500.0,44.0,13.0,-6.0,2.0,30.0,114.0,494.0,2017-06-01,16:01
2,170601160114,2017-06-01T16:01:24.6260+00:00,-78.0,499.0,44.0,13.0,-5.0,2.0,35.0,121.0,493.0,2017-06-01,16:01
3,170601160114,2017-06-01T16:01:24.8270+00:00,-78.0,499.0,42.0,12.0,-5.0,2.0,34.0,120.0,496.0,2017-06-01,16:01
4,170601160114,2017-06-01T16:01:25.0280+00:00,-78.0,499.0,42.0,13.0,-6.0,2.0,38.0,118.0,486.0,2017-06-01,16:01
5,170601160114,2017-06-01T16:01:25.2300+00:00,-78.0,499.0,45.0,13.0,-7.0,2.0,25.0,125.0,489.0,2017-06-01,16:01
6,170601160114,2017-06-01T16:01:25.4310+00:00,-77.0,500.0,45.0,13.0,-5.0,2.0,41.0,123.0,483.0,2017-06-01,16:01
7,170601160114,2017-06-01T16:01:25.6320+00:00,-78.0,499.0,42.0,14.0,-5.0,2.0,34.0,118.0,492.0,2017-06-01,16:01
8,170601160114,2017-06-01T16:01:25.8340+00:00,-77.0,499.0,41.0,13.0,-5.0,2.0,30.0,122.0,500.0,2017-06-01,16:01
9,170601160114,2017-06-01T16:01:26.0340+00:00,-78.0,499.0,43.0,13.0,-5.0,2.0,35.0,119.0,485.0,2017-06-01,16:01

In [232]:
#Easier to just rename this to 'motion_df':
motion_df = combined_pd.copy()

In [233]:
# Define a function that will find the closest time on the CDIP table to the surf ride's time: 
def find_closest_single_time(date, time_utc):
    time_list = []
    
    # Iterate over each date
    for x in df_data['Date(UTC)']:
        a = x.split(" ")
        if date == a[0]:
            a = str(a[1]).split(':')
            y = str(time_utc).split(":")
            #print(a)
            #print(y)
            
            # Find the closest timestamp (less than 15 minutes away)
            time1 = int(a[0])*60 + int(a[1])
            time2 = int(y[0])*60 + int(y[1])
            
            if abs(time1 - time2) <= 15:
                time_string = str(a[0]) + ":" + str(a[1])
                time_list.append(time_string)
           
    return time_list

In [235]:
# Create the output labels from CDIP data for each Smartfin timestamp: 
old_url = 'old_url'
old_date = 'old_date'
old_time = 'xx:xx'

wave_heights = []
wave_periods = []
wave_directions = []
for d, time in zip(dates,times):
    di = d.split("-")
    year = di[0]
    month = di[1]
    url = create_url_string(year, month)
    
    #We need to load a new table since we have a new surf ride session:
    if (url != old_url): 
        old_url = url
        # Create a handle, page, to handle the contents of the website
        page = requests.get(url)

        # Store the contents of the website under doc
        doc = lh.fromstring(page.content)

        # Parse data stored between <tr>..</tr> of HTML
        tr_elements = doc.xpath('//tr')

        # Need to drop the first 3 rows since they aren't in the table
        tr_elements = tr_elements[3:]
        
        # Parse the first row as the header
        tr_elements = doc.xpath('//tr')

        # Create empty list
        headers = []
        i = 0

        # For each row, store each first element (header) and an empty list
        for t in tr_elements[3]:
            i+=1
            name=t.text_content()
            #print(name)
            headers.append(name)

        # Inconsistent header information, we only want the first 4
        headers = headers[0:4]
        #print("headers", headers)

        # Create a Pandas dataframe: 
        data_list = []

        #Since out first row is the header, data is stored on the second row onwards
        for j in range(4, len(tr_elements)):
            data = parse_rows(j)
            data_list.append(data[0:4])
            #print(data)

        df_data = pd.DataFrame(data_list, columns=headers)
        #print(df_data[:10])
        
        #Find the closest time in the CDIP data table that corresponds to the Smartfin data: 
        date = d #YYYY-MM-DD format
        print("date, time ", date, time)
        time_list = find_closest_single_time(date, time)
        print("time list ", time_list)
        
        # Now compute the average significant wave height for that time period:
        length = df_data['Date(UTC)'].size
        wave_height_list = []
        wave_period_list = []
        wave_direction_list = []
        for time in time_list: 
            date_data = date + " " + time
            for i in range(0, length):
                if df_data['Date(UTC)'][i] == date_data:
                    print("height ", df_data['Hs(ft)'][i])
                    wave_height_list.append(float(df_data['Hs(ft)'][i]))
                    wave_period_list.append(float(df_data['Tp(s)'][i]))
                    wave_direction_list.append(float(df_data['Dp(deg)'][i]))
                    
        # Throws error when date doesn't exist on CDIP data (ex: 2018-01-18)
        if len(wave_height_list) == 0 or len(wave_period_list) == 0 or len(wave_direction_list) == 0: 
            avg_wave_height = np.nan
            avg_wave_period = np.nan
            avg_wave_direction = np.nan
            
        else: 
            #print(wave_height_list)
            avg_wave_height = sum(wave_height_list)/len(wave_height_list)
            avg_wave_period = sum(wave_period_list)/len(wave_period_list)
            avg_wave_direction = sum(wave_direction_list)/len(wave_direction_list)
            #print(avg_wave_height)
            #print(avg_wave_period)
            #print(avg_wave_direction) 
            
    # Same date/month but maybe a different day or time:
    elif old_date != date or old_time[3] != time[3]:
        date = d #YYYY-MM-DD format
        #print(date, time)
        time_list = find_closest_single_time(date, time)
        #print(time_list)
        
        old_date = date
        old_time = time
        
        # Now compute the average significant wave height for that time period:
        length = df_data['Date(UTC)'].size
        wave_height_list = []
        wave_period_list = []
        wave_direction_list = []
        for time in time_list: 
            date_data = date + " " + time
            for i in range(0, length):
                if df_data['Date(UTC)'][i] == date_data:
                    #print(df_data['Hs(ft)'][i])
                    wave_height_list.append(float(df_data['Hs(ft)'][i]))
                    wave_period_list.append(float(df_data['Tp(s)'][i]))
                    wave_direction_list.append(float(df_data['Dp(deg)'][i]))
                    
      
        # Throws error when date doesn't exist on CDIP data (ex: 2018-01-18)
        if len(wave_height_list) == 0 or len(wave_period_list) == 0 or len(wave_direction_list) == 0: 
            avg_wave_height = np.nan
            avg_wave_period = np.nan
            avg_wave_direction = np.nan
            
        else: 
            #print(wave_height_list)
            avg_wave_height = sum(wave_height_list)/len(wave_height_list)
            avg_wave_period = sum(wave_period_list)/len(wave_period_list)
            avg_wave_direction = sum(wave_direction_list)/len(wave_direction_list)
            #print(avg_wave_height)
            #print(avg_wave_period)
            #print(avg_wave_direction)    

    # If they have the same url, date, and time then they will have the same value computed. 
    wave_heights.append(avg_wave_height)
    wave_periods.append(avg_wave_period)
    wave_directions.append(avg_wave_direction)

date, time  2017-06-01 16:01
time list  ['15:51']
height  3.61
date, time  2018-06-06 13:30
time list  ['13:30']
height  2.53
date, time  2017-10-18 18:51
time list  ['18:51']
height  2.30
date, time  2017-08-21 13:21
time list  ['13:21']
height  1.38
date, time  2017-10-10 13:18
time list  ['13:21']
height  1.90
date, time  2018-02-24 16:00
time list  []
date, time  2018-03-14 22:19
time list  []
date, time  2017-06-13 17:47
time list  ['17:51']
height  4.07
date, time  2018-03-26 16:46
time list  ['17:00']
height  4.66
date, time  2017-08-06 16:40
time list  ['16:51']
height  1.80
date, time  2019-07-17 17:03
time list  ['17:02']
height  2.72
date, time  2017-04-29 00:01
time list  []
date, time  2017-05-10 20:54
time list  ['20:51']
height  2.20
date, time  2017-06-28 21:46
time list  ['21:51']
height  2.89
date, time  2017-12-02 14:01
time list  ['13:51']
height  3.12
date, time  2017-06-24 21:10
time list  ['21:21']
height  3.05
date, time  2016-09-20 21:11
time list  ['21:21']
height  1.44
date, time  2017-12-15 14:25
time list  ['14:21']
height  2.53
date, time  2018-07-05 13:39
time list  ['13:30']
height  2.00
date, time  2017-10-06 22:07
time list  ['22:21']
height  1.74
date, time  2017-07-18 13:33
time list  ['13:21']
height  1.38
date, time  2017-12-09 14:04
time list  ['13:51']
height  1.12
date, time  2018-06-04 13:02
time list  ['13:00']
height  2.03
date, time  2017-11-12 22:52
time list  ['22:51']
height  2.79
date, time  2017-05-19 00:46
time list  ['00:51']
height  3.02
date, time  2018-10-16 13:21
time list  ['13:30']
height  1.31

In [236]:
print(len(dates))
print(len(wave_heights))
print(len(wave_periods))
print(len(wave_directions))


# Check to make sure different wave heights were appended throughout the dataframe: 
motion_df["Hs(ft)"] = wave_heights
motion_df["Tp(s)"] = wave_periods
motion_df["Dp(deg)"] = wave_directions

for x in range(0, 60000, 10000):
    print(motion_df.iloc[[x]]['Hs(ft)'])
    print(motion_df.iloc[[x]]['Tp(s)'])
    print(motion_df.iloc[[x]]['Dp(deg)'])

motion_df[0:5]

2267620
2267620
2267620
2267620
0    3.61
Name: Hs(ft), dtype: float64
0    6.67
Name: Tp(s), dtype: float64
0    278.0
Name: Dp(deg), dtype: float64
10378    3.64
Name: Hs(ft), dtype: float64
10378    7.14
Name: Tp(s), dtype: float64
10378    274.0
Name: Dp(deg), dtype: float64
20773    3.35
Name: Hs(ft), dtype: float64
20773    7.69
Name: Tp(s), dtype: float64
20773    282.0
Name: Dp(deg), dtype: float64
31075    2.53
Name: Hs(ft), dtype: float64
31075    8.33
Name: Tp(s), dtype: float64
31075    290.0
Name: Dp(deg), dtype: float64
41140    2.53
Name: Hs(ft), dtype: float64
41140    8.33
Name: Tp(s), dtype: float64
41140    290.0
Name: Dp(deg), dtype: float64
51228    2.53
Name: Hs(ft), dtype: float64
51228    8.33
Name: Tp(s), dtype: float64
51228    290.0
Name: Dp(deg), dtype: float64

,identifier,UTC,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Date,Time,Hs(ft),Tp(s),Dp(deg)
0,170601160114,2017-06-01T16:01:24.1670+00:00,-78.0,499.0,45.0,13.0,-6.0,3.0,8.0,31.0,124.0,2017-06-01,16:01,3.61,6.67,278.0
1,170601160114,2017-06-01T16:01:24.4240+00:00,-78.0,500.0,44.0,13.0,-6.0,2.0,30.0,114.0,494.0,2017-06-01,16:01,3.61,6.67,278.0
2,170601160114,2017-06-01T16:01:24.6260+00:00,-78.0,499.0,44.0,13.0,-5.0,2.0,35.0,121.0,493.0,2017-06-01,16:01,3.61,6.67,278.0
3,170601160114,2017-06-01T16:01:24.8270+00:00,-78.0,499.0,42.0,12.0,-5.0,2.0,34.0,120.0,496.0,2017-06-01,16:01,3.61,6.67,278.0
4,170601160114,2017-06-01T16:01:25.0280+00:00,-78.0,499.0,42.0,13.0,-6.0,2.0,38.0,118.0,486.0,2017-06-01,16:01,3.61,6.67,278.0

In [237]:
# Now drop all of the nan values that I introduced earlier: 
motion_df = motion_df.dropna(axis=0, how='any')
print(len(motion_df))
motion_df[0:5]

2206094

,identifier,UTC,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Date,Time,Hs(ft),Tp(s),Dp(deg)
0,170601160114,2017-06-01T16:01:24.1670+00:00,-78.0,499.0,45.0,13.0,-6.0,3.0,8.0,31.0,124.0,2017-06-01,16:01,3.61,6.67,278.0
1,170601160114,2017-06-01T16:01:24.4240+00:00,-78.0,500.0,44.0,13.0,-6.0,2.0,30.0,114.0,494.0,2017-06-01,16:01,3.61,6.67,278.0
2,170601160114,2017-06-01T16:01:24.6260+00:00,-78.0,499.0,44.0,13.0,-5.0,2.0,35.0,121.0,493.0,2017-06-01,16:01,3.61,6.67,278.0
3,170601160114,2017-06-01T16:01:24.8270+00:00,-78.0,499.0,42.0,12.0,-5.0,2.0,34.0,120.0,496.0,2017-06-01,16:01,3.61,6.67,278.0
4,170601160114,2017-06-01T16:01:25.0280+00:00,-78.0,499.0,42.0,13.0,-6.0,2.0,38.0,118.0,486.0,2017-06-01,16:01,3.61,6.67,278.0

In [238]:
# Convert raw IMU values to real values: 
g_const = 512 #Raw acceleration constant 512 = 1g (accelerometer's measured force due to gravity)
gravity = 9.80665 #Approximate measurement for gravity

# Correct the IMU Acceleration columns into units of meters
# Dividing by 512 is equivalent to muliplying by 4 to correct the bit shifting by 2 places and dividing by 2048 to convert bits to G's
# Multiplying by the 9.81 afterwards is simply to convert G's into m/s^2
motion_df['IMU A1'] = motion_df['IMU A1'].apply(lambda x: x / g_const * gravity)
motion_df['IMU A2'] = motion_df['IMU A2'].apply(lambda x: x / g_const * gravity)
motion_df['IMU A3'] = motion_df['IMU A3'].apply(lambda x: x / g_const * gravity)

In [239]:
# Gyroscopic Rotation converts to deg/s
gyro_const = 8.2 # Raw gyrscope constant 8.2 bits per degree
motion_df['IMU G1'] = motion_df['IMU G1'].apply(lambda x: x / gyro_const)
motion_df['IMU G2'] = motion_df['IMU G2'].apply(lambda x: x / gyro_const)
motion_df['IMU G3'] = motion_df['IMU G3'].apply(lambda x: x / gyro_const)

In [240]:
print(len(motion_df))
motion_df[:20]

2206094

,identifier,UTC,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Date,Time,Hs(ft),Tp(s),Dp(deg)
0,170601160114,2017-06-01T16:01:24.1670+00:00,-1.493982,9.557653,0.861913,1.585366,-0.731707,0.365854,8.0,31.0,124.0,2017-06-01,16:01,3.61,6.67,278.0
1,170601160114,2017-06-01T16:01:24.4240+00:00,-1.493982,9.576807,0.842759,1.585366,-0.731707,0.243902,30.0,114.0,494.0,2017-06-01,16:01,3.61,6.67,278.0
2,170601160114,2017-06-01T16:01:24.6260+00:00,-1.493982,9.557653,0.842759,1.585366,-0.609756,0.243902,35.0,121.0,493.0,2017-06-01,16:01,3.61,6.67,278.0
3,170601160114,2017-06-01T16:01:24.8270+00:00,-1.493982,9.557653,0.804452,1.463415,-0.609756,0.243902,34.0,120.0,496.0,2017-06-01,16:01,3.61,6.67,278.0
4,170601160114,2017-06-01T16:01:25.0280+00:00,-1.493982,9.557653,0.804452,1.585366,-0.731707,0.243902,38.0,118.0,486.0,2017-06-01,16:01,3.61,6.67,278.0
5,170601160114,2017-06-01T16:01:25.2300+00:00,-1.493982,9.557653,0.861913,1.585366,-0.853659,0.243902,25.0,125.0,489.0,2017-06-01,16:01,3.61,6.67,278.0
6,170601160114,2017-06-01T16:01:25.4310+00:00,-1.474828,9.576807,0.861913,1.585366,-0.609756,0.243902,41.0,123.0,483.0,2017-06-01,16:01,3.61,6.67,278.0
7,170601160114,2017-06-01T16:01:25.6320+00:00,-1.493982,9.557653,0.804452,1.707317,-0.609756,0.243902,34.0,118.0,492.0,2017-06-01,16:01,3.61,6.67,278.0
8,170601160114,2017-06-01T16:01:25.8340+00:00,-1.474828,9.557653,0.785298,1.585366,-0.609756,0.243902,30.0,122.0,500.0,2017-06-01,16:01,3.61,6.67,278.0
9,170601160114,2017-06-01T16:01:26.0340+00:00,-1.493982,9.557653,0.823605,1.585366,-0.609756,0.243902,35.0,119.0,485.0,2017-06-01,16:01,3.61,6.67,278.0
10,170601160114,2017-06-01T16:01:26.2360+00:00,-1.493982,9.557653,0.842759,1.585366,-0.731707,0.243902,33.0,117.0,491.0,2017-06-01,16:01,3.61,6.67,278.0
11,170601160114,2017-06-01T16:01:26.4380+00:00,-1.493982,9.576807,0.842759,1.585366,-0.731707,0.243902,30.0,120.0,492.0,2017-06-01,16:01,3.61,6.67,278.0
12,170601160114,2017-06-01T16:01:26.6380+00:00,-1.493982,9.576807,0.823605,1.463415,-0.731707,0.243902,27.0,117.0,491.0,2017-06-01,16:01,3.61,6.67,278.0
13,170601160114,2017-06-01T16:01:26.8400+00:00,-1.493982,9.557653,0.804452,1.707317,-0.731707,0.243902,30.0,118.0,496.0,2017-06-01,16:01,3.61,6.67,278.0
14,170601160114,2017-06-01T16:01:27.0420+00:00,-1.493982,9.576807,0.804452,1.585366,-0.609756,0.243902,31.0,119.0,497.0,2017-06-01,16:01,3.61,6.67,278.0
15,170601160114,2017-06-01T16:01:27.2430+00:00,-1.474828,9.557653,0.804452,1.463415,-0.731707,0.121951,30.0,120.0,496.0,2017-06-01,16:01,3.61,6.67,278.0
16,170601160114,2017-06-01T16:01:27.4440+00:00,-1.493982,9.557653,0.785298,1.707317,-0.731707,0.243902,37.0,127.0,491.0,2017-06-01,16:01,3.61,6.67,278.0
17,170601160114,2017-06-01T16:01:27.6450+00:00,-1.493982,9.557653,0.823605,1.585366,-0.731707,0.243902,28.0,116.0,490.0,2017-06-01,16:01,3.61,6.67,278.0
18,170601160114,2017-06-01T16:01:27.8470+00:00,-1.474828,9.557653,0.823605,1.585366,-0.731707,0.243902,34.0,122.0,492.0,2017-06-01,16:01,3.61,6.67,278.0
19,170601160114,2017-06-01T16:01:28.0480+00:00,-1.493982,9.538499,0.804452,1.463415,-0.609756,0.121951,28.0,118.0,488.0,2017-06-01,16:01,3.61,6.67,278.0

In [241]:
motion_df.to_csv('CSE258_A2_Data_Jen_Combined.csv')

## Transform the already scraped dataset's "ride_id" column to "identifier""

In [210]:
# Check to make sure the new, combined data frame exists: 
path = '/Users/jasminesimmons/Smartfin/Smartfin/Mini_Projects/ML_Wave_Stats/'
names = find_csv_filenames( path, suffix=".csv" )

print(names)
print(len(names))

['CSE258_A2_Data2_copy.csv']
1

In [211]:
combined_pd = pd.read_csv('CSE258_A2_Data2_copy.csv')
combined_pd[:10]

,ride_id,UTC,Time,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Date,Hs(ft),Tp(s),Dp(deg)
0,16345,2019-11-19 15:02:50.090000+00:00,15:02,9.615114,0.785298,1.149217,-2.195122,-1.219512,-0.121951,32.0,-110.0,-468.0,2019-11-19,1.74,10.53,285.0
1,16345,2019-11-19 15:02:50.340000+00:00,15:02,9.595960,0.708684,1.206678,-2.195122,-1.219512,0.000000,39.0,-115.0,-461.0,2019-11-19,1.74,10.53,285.0
2,16345,2019-11-19 15:02:50.590000+00:00,15:02,9.634267,0.689530,1.130063,-2.195122,-1.097561,0.000000,38.0,-110.0,-462.0,2019-11-19,1.74,10.53,285.0
3,16345,2019-11-19 15:02:50.841000+00:00,15:02,9.576807,0.670376,1.187524,-2.317073,-1.097561,0.365854,37.0,-111.0,-457.0,2019-11-19,1.74,10.53,285.0
4,16345,2019-11-19 15:02:51.092000+00:00,15:02,9.595960,0.632069,1.168370,-2.195122,-1.219512,0.000000,38.0,-116.0,-460.0,2019-11-19,1.74,10.53,285.0
5,16345,2019-11-19 15:02:51.342000+00:00,15:02,9.576807,0.651223,1.206678,-2.195122,-1.219512,0.000000,30.0,-108.0,-460.0,2019-11-19,1.74,10.53,285.0
6,16345,2019-11-19 15:02:51.593000+00:00,15:02,9.595960,0.651223,1.168370,-2.317073,-1.097561,0.365854,39.0,-115.0,-453.0,2019-11-19,1.74,10.53,285.0
7,16345,2019-11-19 15:02:51.843000+00:00,15:02,9.615114,0.670376,1.187524,-2.317073,-1.341463,1.341463,41.0,-113.0,-465.0,2019-11-19,1.74,10.53,285.0
8,16345,2019-11-19 15:02:52.094000+00:00,15:02,9.615114,0.440533,1.168370,-2.317073,-1.463415,1.951220,42.0,-118.0,-454.0,2019-11-19,1.74,10.53,285.0
9,16345,2019-11-19 15:02:52.344000+00:00,15:02,9.634267,0.402226,1.168370,-2.439024,-1.219512,0.121951,43.0,-111.0,-457.0,2019-11-19,1.74,10.53,285.0

In [212]:
columns = combined_pd.columns
print(columns)

Index(['ride_id', 'UTC', 'Time', 'IMU A1', 'IMU A2', 'IMU A3', 'IMU G1',
       'IMU G2', 'IMU G3', 'IMU M1', 'IMU M2', 'IMU M3', 'Date', 'Hs(ft)',
       'Tp(s)', 'Dp(deg)'],
      dtype='object')

In [213]:
combined_pd = combined_pd.rename(columns={'ride_id':'identifier'})
print(combined_pd.columns)
combined_pd[:10]

Index(['identifier', 'UTC', 'Time', 'IMU A1', 'IMU A2', 'IMU A3', 'IMU G1',
       'IMU G2', 'IMU G3', 'IMU M1', 'IMU M2', 'IMU M3', 'Date', 'Hs(ft)',
       'Tp(s)', 'Dp(deg)'],
      dtype='object')

,identifier,UTC,Time,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Date,Hs(ft),Tp(s),Dp(deg)
0,16345,2019-11-19 15:02:50.090000+00:00,15:02,9.615114,0.785298,1.149217,-2.195122,-1.219512,-0.121951,32.0,-110.0,-468.0,2019-11-19,1.74,10.53,285.0
1,16345,2019-11-19 15:02:50.340000+00:00,15:02,9.595960,0.708684,1.206678,-2.195122,-1.219512,0.000000,39.0,-115.0,-461.0,2019-11-19,1.74,10.53,285.0
2,16345,2019-11-19 15:02:50.590000+00:00,15:02,9.634267,0.689530,1.130063,-2.195122,-1.097561,0.000000,38.0,-110.0,-462.0,2019-11-19,1.74,10.53,285.0
3,16345,2019-11-19 15:02:50.841000+00:00,15:02,9.576807,0.670376,1.187524,-2.317073,-1.097561,0.365854,37.0,-111.0,-457.0,2019-11-19,1.74,10.53,285.0
4,16345,2019-11-19 15:02:51.092000+00:00,15:02,9.595960,0.632069,1.168370,-2.195122,-1.219512,0.000000,38.0,-116.0,-460.0,2019-11-19,1.74,10.53,285.0
5,16345,2019-11-19 15:02:51.342000+00:00,15:02,9.576807,0.651223,1.206678,-2.195122,-1.219512,0.000000,30.0,-108.0,-460.0,2019-11-19,1.74,10.53,285.0
6,16345,2019-11-19 15:02:51.593000+00:00,15:02,9.595960,0.651223,1.168370,-2.317073,-1.097561,0.365854,39.0,-115.0,-453.0,2019-11-19,1.74,10.53,285.0
7,16345,2019-11-19 15:02:51.843000+00:00,15:02,9.615114,0.670376,1.187524,-2.317073,-1.341463,1.341463,41.0,-113.0,-465.0,2019-11-19,1.74,10.53,285.0
8,16345,2019-11-19 15:02:52.094000+00:00,15:02,9.615114,0.440533,1.168370,-2.317073,-1.463415,1.951220,42.0,-118.0,-454.0,2019-11-19,1.74,10.53,285.0
9,16345,2019-11-19 15:02:52.344000+00:00,15:02,9.634267,0.402226,1.168370,-2.439024,-1.219512,0.121951,43.0,-111.0,-457.0,2019-11-19,1.74,10.53,285.0

In [214]:
combined_pd = combined_pd[['identifier', 'UTC', 'IMU A1', 'IMU A2', 'IMU A3', 'IMU G1', 'IMU G2', 'IMU G3', 'IMU M1', 'IMU M2', 'IMU M3', 'Date', 'Time', 'Hs(ft)', 'Tp(s)', 'Dp(deg)']]
combined_pd[:10]

,identifier,UTC,IMU A1,IMU A2,IMU A3,IMU G1,IMU G2,IMU G3,IMU M1,IMU M2,IMU M3,Date,Time,Hs(ft),Tp(s),Dp(deg)
0,16345,2019-11-19 15:02:50.090000+00:00,9.615114,0.785298,1.149217,-2.195122,-1.219512,-0.121951,32.0,-110.0,-468.0,2019-11-19,15:02,1.74,10.53,285.0
1,16345,2019-11-19 15:02:50.340000+00:00,9.595960,0.708684,1.206678,-2.195122,-1.219512,0.000000,39.0,-115.0,-461.0,2019-11-19,15:02,1.74,10.53,285.0
2,16345,2019-11-19 15:02:50.590000+00:00,9.634267,0.689530,1.130063,-2.195122,-1.097561,0.000000,38.0,-110.0,-462.0,2019-11-19,15:02,1.74,10.53,285.0
3,16345,2019-11-19 15:02:50.841000+00:00,9.576807,0.670376,1.187524,-2.317073,-1.097561,0.365854,37.0,-111.0,-457.0,2019-11-19,15:02,1.74,10.53,285.0
4,16345,2019-11-19 15:02:51.092000+00:00,9.595960,0.632069,1.168370,-2.195122,-1.219512,0.000000,38.0,-116.0,-460.0,2019-11-19,15:02,1.74,10.53,285.0
5,16345,2019-11-19 15:02:51.342000+00:00,9.576807,0.651223,1.206678,-2.195122,-1.219512,0.000000,30.0,-108.0,-460.0,2019-11-19,15:02,1.74,10.53,285.0
6,16345,2019-11-19 15:02:51.593000+00:00,9.595960,0.651223,1.168370,-2.317073,-1.097561,0.365854,39.0,-115.0,-453.0,2019-11-19,15:02,1.74,10.53,285.0
7,16345,2019-11-19 15:02:51.843000+00:00,9.615114,0.670376,1.187524,-2.317073,-1.341463,1.341463,41.0,-113.0,-465.0,2019-11-19,15:02,1.74,10.53,285.0
8,16345,2019-11-19 15:02:52.094000+00:00,9.615114,0.440533,1.168370,-2.317073,-1.463415,1.951220,42.0,-118.0,-454.0,2019-11-19,15:02,1.74,10.53,285.0
9,16345,2019-11-19 15:02:52.344000+00:00,9.634267,0.402226,1.168370,-2.439024,-1.219512,0.121951,43.0,-111.0,-457.0,2019-11-19,15:02,1.74,10.53,285.0

In [215]:
combined_pd.to_csv('CSE258_A2_Scraped_Data2_copy.csv')

In [216]:
print(len(combined_pd))

508034